<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Platypus Admin</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <h1>Platypus Admin</h1>
    <div class="container">
    <div class="item register">
    <h2>Register Server</h2>
    <form action="/admin" method="post">
        {% module xsrf_form_html() %}
        <label for="name">Server Name</label>
        <input type="name" name="name" id="name">
        <label for="hostname">Server Hostname</label>
        <input type="hostname" name="hostname" id="hostname">
        <input type="submit" value="Register">
    </form>
    </div><div class="item servers">
    <h2>Remove Servers</h2>
    <table id="table">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Hostname</th>
        <th>IP Addr.</th>
        <th></th>
        </tr>
        {% for s in servers %}
        <tr id="{{s[0]}}">
        <td>{{s[0]}}</td>
        <td>{{s[1]}}</td>
        <td>{{s[2]}}</td>
        <td>{{s[3]}}</td>
        <td><form action="/admin/delete/{{s[0]}}" method="post">
        {% module xsrf_form_html() %}

            <input type="submit" value="Delete">
        </form></td>
        {% end %}
        </table>

    </div>
    </div>
</body>
</html>