<!DOCTYPE html>
<html>
	<head>
	</head>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
	<body>
		<h5 class="options"><a href="/">All</a> | <a href="/blob/la">LA</a> | <a href="/blob/mt">Montreal</a> | <a href="/blob/eu">France</a> | <a href="/forcescan">Force Cache</a>
		<div class="list">
		<h1>Currently offline servers in {{ location.upper() }} ({{ downs|length }})</h1>
		<h2>
		{% for server in downs %}
			
			{{ server }}
			
		{% endfor %}
		</h2>
		</div>
	</body>
</html>