<!DOCTYPE html>
<html>
<head>
    <title>Platypus Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }} ">
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>