@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

input[type=text]{
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
    border: none;
    text-align: center;
    width: 20%;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background: #f9f9f9; text-align: center; padding: 10px;
}