@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f9f9f9;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.options {
	text-align: center;
	font-size: 2vh;
}
h1 {
	font-size: 4vh;
}
h2 {
	font-size: 3vh;
}
strong {
	color: #f44b42;
	font-size: 75%;
	font-weight: bolder;
}