@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  transition: 0.25s;  
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9;
  font-weight: 300;
}
h1,h2{
  font-weight: 500;
}
.nightmode {
    background-color: #1B2836;
    color: #C7CBCE;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td{
    border: none;
    text-align: center;
    width: 20%;
    padding: 8px;
}
.nightmode td {
    border: none;
}
.nightmode strong {
    color: #1DA1F2;
}
.toggs {
    text-align: center;
}
th {
    background: #f9f9f9; text-align: center; padding: 10px;
}
.nightmode th {
    background-color: #1B2836;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.nightmode tr:nth-child(even) {
    background-color: #414F5C;
}
.options {
	text-align: center;
	font-size: 2vh;
}
h1 {
    text-align: center;
	font-size: 4vh;
}
h2 {
	font-size: 3vh;
}
strong {
	color: #f44b42;
	font-size: 75%;
	font-weight: bolder;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 12px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 5px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 30%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.loginform {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 5%;
  border:1px solid;
  border-radius: 25px;
  background-color: white;
  padding-top: 0;
}

.loginform label {
  display: block;
  text-align: center;
}

.loginform input {
  padding: 2%;
  width:100%;
  border: 1px solid;
}

.loginform .submit {
  margin-top: 10px; 
  padding:1%;
  width: 50%;
}
button, input[type=submit] {
  background:none;
  background-color: #f9f9f9;
  border:1px solid black;
}
#uid {
  width: 100%;
}